extends layout.pug
block content
    .container
    h1 Exercise tracker
    form(action=url+'/api/users' method='post')
        h3 Create a New User
        p
        code POST /api/users
        input#uname(type='text' name='username' placeholder='username')
        input(type='submit' value='Submit')
    form#exercise-form(method='post')
        h3 Add exercises
        p
        code POST /api/users/:_id/exercises
        input#uid(type='text' name=':_id' placeholder=':_id')
        input#desc(type='text' name='description' placeholder='description*')
        input#dur(type='text' name='duration' placeholder='duration* (mins.)')
        input#dat(type='text' name='date' placeholder='date (yyyy-mm-dd)')
        input(type='submit' value='Submit')
    p
        strong GET user&apos;s exercise log: 
        code GET /api/users/:_id/logs?[&amp;from][&amp;to][&amp;limit]
    p
        strong [ ]
        |  = optional
    p
        strong from, to
        |  = dates (yyyy-mm-dd); 
        strong limit
        |  = number
    script.
        const exerciseForm = document.getElementById("exercise-form");
        exerciseForm.addEventListener("submit", () => {
        const userId = document.getElementById("uid").value;
        exerciseForm.action = url+`/api/users/${userId}/exercises`;
        exerciseForm.submit();
        });
