extends layout.pug
block content
  h1 API &amp; Microservices Project
  hr
  .container
    h3 Projects:
    ul
      li
        a(href='timestamp') Timestamp Microservice
      li
        a(href='requestheaderparser') Request Header Parser
      li
        a(href='urlshortener')  URL Shortener Microservice
      li
        a(href='exercise-tracker') Exercise Tracker
      li
        a(href='file-metadata') File Metadata Microservice
