extends layout.pug
block content
  h1 API &amp; Microservices Project
  hr
  .container
    h3 Projects:
    //- ul 
    //-   each link in links
    //-     li
    //-       a(href=link.addr) #{link.name}
    ul
      li
        a(href='timestamp') Timestamp Microservice
      li
        a(href='request-header-parser') Request Header Parser
      li
        a(href='url-shortener')  URL Shortener Microservice
      li
        a(href='exercise-tracker') Exercise Tracker
      li
        a(href='file-metadata') File Metadata Microservice
