doctype html
html
  head
    title Api &amp; Microservices - freeCodeCamp
    link(rel='shortcut icon' href='https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png' type='image/x-icon')
    link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
    link(href='style.css' rel='stylesheet' type='text/css')
  body
    .container
      block content
  .footer
    p
      | By Mateusz Zalewski for 
      a(href='https://www.freecodecamp.org/') freeCodeCamp.org